*{
    box-sizing: border-box;
    font-family: monospace;
}
a{
    text-decoration: none;
    color:#596D48;
}

a:hover{
    color: #6b924c;
}
html{
    height: 100vh;
    margin: 0;
    padding: 0px;
}

body{
    height: 100%;
    margin: 0;
    padding: 0px;
}

.container{
    height: 100%;
    display: flex;
    flex: 1;
}

.image{
    flex: 1;
    background-image: url(images/leaf.jpg);
    background-size: 100% 100%;
}

.page{
    background-color: white;
    display: flex;
    flex-direction: column;
    flex: 1.5;
}

.top,
.mid,
.bottom{
    flex: 1;
}

.top,
.bottom{
    background-color: rgb(238, 238, 238);
}
.bottom{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.bottom button{
    padding: 12px 30px;
    font-size: 18px;
    border-radius: 10px;
    background-color: #596D48;
    color: white;
    font-weight: bold;
    width: 250px;
    margin: 30px 0px 0px 50px;
    cursor: pointer;
}

.bottom button:hover{
    background-color: #66864c;
}

.bottom>div{
    font-size: 20px;
    margin-left: 50px;
}

.bottom>div span{
    color: #596D48;
    font-weight: bold;
    cursor: pointer;
}

.top>.title{
    font-size: 24px;
    font-weight: bold;
    width: 80%;
    margin: 110px 0px 10px 50px;
}

.top{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.top>.subtitle{
    font-size: 24px;
    font-weight: bold;
    width: 30%;
    margin: 0px 0px 60px 50px
}

.mid>.title{
    margin: 30px 0px 20px 50px;
    font-size: 24px;
    font-weight: bold;
}

.forms>div>form{
    display: flex;
    flex-direction: column;
}

.forms{
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
    margin-bottom: 40px;
    gap: 25px;
}

p{
    margin: 0px;
}

.forms>div{
    flex-basis: 33%;
}

input{
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #E5E7EB;
}

input:focus{
    outline: none;
    border: 2px solid rgb(59, 121, 255);
}

input:focus:invalid{
    outline: none;
    border: 2px solid red;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.5)
}

.image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text{
    color: white;
    background-color: rgb(0,0,0,0.5);
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    gap: 20px;
}

.text>span{
    font-family: 'Norse', sans-serif;
    font-size: 6vw; 
}

.odinLogo{
    background-image: url(images/odin.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
    height: 140px;
}

.author{
    margin-top: auto;
    color: white;
    margin-bottom: 5px;
}

.author a{
    color: rgb(0, 255, 0);
}

input+p{
    visibility: hidden;
    font-size: 11px;
    color: red;
}